.login{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient(to top,rgb(129, 243, 163),rgb(240, 139, 85));
}
.login h3 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
}
.form {
    display: flex;
    flex-direction: column;
  }
.form input{
    width: 80%;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.form button {
    width: 30%;
    font-size: 30px;
    padding: 10px;
    margin-top: 15px;
    background: white;
    color: rgb(224, 100, 162);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.form button:hover {
    background: #037930;
    color: white;
}